<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="A better way to book club" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1" />

        <title>CerealNotes</title>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

        <link href="//cdn.muicss.com/mui-0.9.36/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.9.36/js/mui.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/home.js"></script>
    </head>

    <body>
        <div class="mui-container">
            <h1 class="mui--text-center">
                CerealNotes
            </h1>

            Welcome user: {{.}}

            <button id="logout-button" type="button" class="mui-btn mui-btn--primary">Logout</button>
        </div>
    </body>
</html>
