<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="The best way to book club" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1" />

        <title>CerealNotes</title>

        <script type="text/javascript" src="/static/js/login_or_signup.js"></script>
    </head>

    <body>
        Hello World
    </body>
</html>
