{{ define "title" }}Notes{{ end }}

{{ define "js" }}
    <script src="/static/js/notes.js"></script>
{{ end }}

{{ define "css" }}
    <link href="/static/css/notes.css" rel="stylesheet" type="text/css" />
{{ end }}

{{ define "content" }}
    <div class="mui-container">
        <h1 class="mui--text-center">
            CerealNotes
        </h1>

        <div id="notes"></div>

        <div id="add-note-button">
            <button class="mui-btn mui-btn--fab mui-btn--primary">+</button>
        </div>
    </div>
{{ end }}
